CREATE OR REPLACE FUNCTION public.get_applied_migrations() RETURNS TABLE(version text) LANGUAGE plpgsql SECURITY DEFINER AS \$\$ BEGIN RETURN QUERY SELECT sm.version FROM supabase_migrations.schema_migrations sm; END; \$\$;
